<header>
  <div class="container">
    <a routerLink="/" class="logo">{{title}}</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/" routerLinkActive="navcurrent" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a href="#" routerLink="/list" routerLinkActive="navcurrent" [routerLinkActiveOptions]="{exact: true}">List</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
