<h1>Breweries</h1>
<ul *ngIf="data">
  <li *ngFor="let brew of data">
    <p class="hame">{{ brew.name }}</p>
    <p class="country">{{ brew.country }}</p>
    <a class="site" href="{{ brew.website_url }}" target="_blank">web site</a>
  </li>
</ul>
