@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {box-sizing: border-box;}

$primary: rgb(111, 0, 255);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
    a.navcurrent {
      background: darken($primary, 20%);
      pointer-events:none;
    }
}

h1 {
    margin-top: 0.5em;
}
