<h1>Welcome!</h1>
<div class="containers">
<div class="play-container">
  <p>Counter value is {{clickCounter}}.<br>
    <button (click)="countClick(1)">Increase</button> <button (click)="countClick(-1)">Decrease</button></p>
  <p>
    <label for="namefield">Name: </label> <input id="namefield" type="text" [(ngModel)]="name"><br>
    <strong>You typed: </strong> {{ name }}
  </p>
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>Click counter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>
    <p>Click counter <strong>is not greater</strong> than 4.</p>
  </ng-template>
</div>
<div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'">
  <h2>Style binding 1</h2>
  <p>Sometimes, you want to modify the appearance of your UI based on events that occur in your app. This is where class and style binding come into play.</p>
  <p>This div uses inline style binding with a conditional to set the background to yellow if the counter is greater than 4.</p>
</div>

<div class="play-container" [ngStyle]="{
  'background-color': clickCounter > 4 ? '#ccf' : '#dcb',
  'border': clickCounter > 4 ? '4px solid black' : 'none'
}">
    <h2>Style binding 2</h2>
    <p>Perhaps, though, you may wish to specify multiple css properties. In this case, use [ngStyle] and pass a style object.</p>
    <p>This div uses inline style binding with an object that has conditional logic to set the background to light blue and the
      border to black if the counter is greater than 4.</p>
    <p>Note: You can specify [ngStyle]="someObject" instead, if you wish to specify that logic in the component instead of the template.</p>
</div>

<div class="play-container" [class.active]="clickCounter > 4">
    <h2>Class binding 1</h2>
    <p>You can add or remove entire classes defined in your CSS.</p>
    <p>This div uses class binding with a conditional to set the background to pink (the active class) if the counter is greater than 4.</p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <h2>Class binding 2</h2>
    <p>You can use a class method within your component to determine which class to load.</p>
    <p>This div uses class binding with a conditional to set the background to pink (the active class) if the counter is greater than 4.
      In addition, it sets the class to notactive (blue background) if counter is not greater than 4. Use [ngClass] binding to make this happen.</p>
</div>
</div>
