.containers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

button {
  font-weight: bold;
  background: lightgray;
  padding: .3em .8em;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 8px;
  margin:0 10px 0 0;
}

.play-container {
  flex-basis:360px;
  flex-grow: 1;
  padding: 0.5em 2em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input {
      padding: 1em;
      margin-bottom: 2em;
  }
}
.active {
  background-color: pink;
  border: 4px solid black;
}
.notactive {
  background-color: lightblue;
}
